<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap" rel="stylesheet"> 
    <link rel="icon" href="/img/icon.png">
    <title>New Budget - Personal Finance</title>
</head>
<body class="h-screen overflow-hidden bg-gray-100">
    <div class="h-full">
        <!-- Header -->
        <%- include('../partials/header.ejs') %>

        <!-- Sidebar -->
        <%- include('../partials/sidebar.ejs') %>

        <!-- Page content -->
        <main class="h-screen overflow-y-auto pl-64">
            <div class="pt-16 pb-16">
                <div class="flex-1 p-8 flex flex-col">
                    <div class="flex item-center justify-between">
                        <h3 class="font-poppins font-bold text-2xl text-black text-left px-2">New Budget</h3>
                        <div class="relative inline-flex">
                            <a href="/user/budgets" class="font-poppins inline-flex whitespace-nowrap items-center border font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 px-4 py-2 text-sm leading-5 rounded-md border-transparent shadow-sm text-white bg-custom-purple-600 hover:bg-custom-purple-700 focus:ring-custom-purple-500 ml-4 mr-2">
                                Cancel
                            </a>
                            <button type="submit" form="budgetForm" action="/user/budgets/create" class="font-poppins inline-flex whitespace-nowrap items-center border font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 px-4 py-2 text-sm leading-5 rounded-md border-transparent shadow-sm text-white bg-custom-purple-600 hover:bg-custom-purple-700 focus:ring-custom-purple-500 ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 -ml-1 mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"></path>
                                </svg>
                                Save Budget
                            </button>
                        </div>
                    </div>
                    <div class="relative justify-end items-center h-5">
                        <!---->
                    </div>
                    <div class="rounded-lg bg-white relative shadow">
                        <form id="budgetForm" action="/user/budgets/create" method="POST" class="p-8">
                            <div class="grid gap-y-6 grid-cols-2" style="column-gap: 2rem;">
                                <div class="relative w-full text-left">
                                    <label for="category" class="font-poppins font-medium flex text-sm whitespace-nowrap text-gray-800 items-center">
                                        <div>
                                            Category
                                            <span class="text-sm text-red-600">*</span>
                                        </div>
                                    </label>
                                    <select name="category" id="category" class="rounded-md shadow-lg w-full outline-none bg-white box-border border-0 py-2 px-4 text-left font-poppins font-medium text-sm text-gray-500">
                                        <option value="" <% if (!locals.category) { %>selected<% } %> hidden disabled>Select a category</option>
                                        <option <% if (locals.category && category === 'Entertainment') { %>selected<% } %> value="Entertainment">Entertainment</option>
                                        <option <% if (locals.category && category === 'Shopping') { %>selected<% } %> value="Shopping">Shopping</option>
                                        <option <% if (locals.category && category === 'Health & Fitness') { %>selected<% } %> value="Health & Fitness">Health & Fitness</option>
                                        <option <% if (locals.category && category === 'Food & Dining') { %>selected<% } %> value="Food & Dining">Food & Dining</option>
                                        <option <% if (locals.category && category === 'Investments') { %>selected<% } %> value="Investments">Investments</option>
                                        <option <% if (locals.category && category === 'Auto & Transport') { %>selected<% } %> value="Auto & Transport">Auto & Transport</option>
                                        <option <% if (locals.category && category === 'Fee & Charges') { %>selected<% } %> value="Fee & Charges">Fee & Charges</option>
                                        <option <% if (locals.category && category === 'Taxes') { %>selected<% } %> value="Taxes">Taxes</option>
                                        <option <% if (locals.category && category === 'Business Services') { %>selected<% } %> value="Business Services">Business Services</option>
                                        <option <% if (locals.category && category === 'Travel') { %>selected<% } %> value="Travel">Travel</option>
                                        <option <% if (locals.category && category === 'Bills & Utilities') { %>selected<% } %> value="Bills & Utilities">Bills & Utilities</option>
                                        <option <% if (locals.category && category === 'Gifts & Donations') { %>selected<% } %> value="Gifts & Donations">Gifts & Donations</option>
                                        <option <% if (locals.category && category === 'Kids') { %>selected<% } %> value="Kids">Kids</option>
                                        <option <% if (locals.category && category === 'Personal Care') { %>selected<% } %> value="Personal Care">Personal Care</option>
                                        <option <% if (locals.category && category === 'Education') { %>selected<% } %> value="Education">Education</option>
                                        <option <% if (locals.category && category === 'Miscellaneous') { %>selected<% } %> value="Miscellaneous">Miscellaneous</option>
                                    </select>
                                    <span class="block font-tahoma text-sm text-red-600 min-h-[18px] mt-1.5"><%= locals.errorMessage?.find(err => err['param'] === 'category')?.msg ?? ''%></span>
                                </div>
                                <div class="relative w-full text-left">
                                    <label for="amount" class="font-poppins font-medium flex text-sm whitespace-nowrap text-gray-800 items-center">
                                        <div>
                                            Amount
                                            <span class="text-sm text-red-600">*</span>
                                        </div>
                                    </label>
                                    <input type="text" inputmode="numeric" name="amount" id="amount" placeholder="$0.00" class="rounded-md shadow w-full outline-none bg-white box-border border-0 py-2 px-4 text-left font-poppins font-medium text-sm text-gray-500" value="<%= locals.amount ?? ''%>">
                                    <span class="block font-tahoma text-sm text-red-600 min-h-[18px] mt-1.5"><%= locals.errorMessage?.find(err => err['param'] === 'amount')?.msg ?? ''%></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        let amountInput = document.getElementById('amount')
        let typingTimer
        let doneTypingInterval = 2000
        const formatter = Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD'
        })

        amountInput.addEventListener('keyup', () => {
            clearTimeout(typingTimer)
            if (amountInput.value) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval)
            }
        })

        function doneTyping() {
            let val = amountInput.value
            if (val) {
                amountInput.value = !isNaN(val.replaceAll('$', '').replaceAll(',', '').trim()) ? formatter.format(val) : val
            }
        }
    </script>
</body>
</html>