<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/output.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap" rel="stylesheet"> 
  <link rel="icon" href="/img/icon.png">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
  <title>Budgets - Personal Finance</title>
</head>

<body class="h-screen bg-gray-100 overflow-hidden">
  <div class="h-full">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Sidebar  -->
    <%- include('../partials/sidebar.ejs') %>

    <!-- Page Content -->
    <main class="h-screen overflow-y-auto pl-64">
      <div class="pt-16 pb-16">
          <div class="flex-1 p-8 flex flex-col">
              <div class="flex items-center justify-between">
                  <h3 class="font-poppins font-bold text-2xl text-black text-left px-2">Budget</h3>
                  <a href="/user/budgets/create" class="font-poppins inline-flex whitespace-nowrap items-center border font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 px-4 py-2 text-sm leading-5 rounded-md border-transparent shadow-sm text-white bg-custom-purple-600 hover:bg-custom-purple-700 focus:ring-custom-purple-500 ml-4" role="button">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 -ml-1 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                      </svg> 
                      Add Budget
                  </a>
              </div>
              <div class="relative justify-end items-center h-5">
                  <!---->
              </div>
              <% if (locals.budgets && budgets.length) { %> 
                <div class="relative bg-white overflow-y-auto rounded-lg shadow border-b border-gray-200 flex flex-col justify-evenly">
                    <% budgets.forEach((budget, i) => { %> 
                        <div class="flex flex-col w-full px-6 py-4 mt-4">
                            <div class="flex justify-between px-2">
                                <span class="font-poppins"><%= budget.category %></span>
                                <span class="font-poppins"><%= %></span>
                            </div>
                            <div class="relative mt-4 mr-auto ml-auto w-[1550px] h-[30px]"><canvas id="<%= `budget${i}` %>"></canvas></div>
                            <div class="font-poppins text-gray-800 font-sm px-2"><%= `\$${locals.expenses[budget.category] ?? '0.00'}` %>
                                <span class="text-gray-400"> of <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(`${budget.amount/100}.${budget.amount%100}`) %></span>
                            </div>
                        </div>
                    <% }) %> 
                </div>
                <% } else { %>
                    <div class="flex flex-col justify-center relative text-black w-full h-full overflow-hidden mt-24">
                        <div class="flex flex-col justify-center flex-1 w-1/4 pt-8 mr-auto ml-auto shadow-[0_1px_2px_rgba(0,0,0,0.15)] transition-shadow ease-in-out duration-300 hover:shadow-[0_5px_15px_rgba(0,0,0,0.3)]">
                            <div class="flex justify-center">
                                <img class="shadow rounded" src="/img/budget-icon.png">
                            </div>
                            <span class="block font-poppins font-medium text-xl text-center py-8">Set limits and start saving!</span>
                            <div class="flex justify-center align-middle py-8">
                                <a href="/user/budgets/create" role="button" class="font-poppins inline-flex whitespace-nowrap items-center border font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 px-4 py-2 h-8 w-54 text-sm leading-5 rounded-md border-transparent  border-solid border-custom-purple-500 transition ease-in-out duration-150 text-custom-purple-500 hover:bg-custom-purple-200 shadow-inner focus:ring-custom-purple-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 -ml-1 mr-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                                    </svg> 
                                    Add Budget
                                </a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
  </div>
  <%- include('../partials/budget-charts.ejs') %> 
</body>

</html>